<section style="background: white;">
    <div class="container">
        <div class="box text-center">
            <div class="content">
                <div class="header">
                    <p style="color: blue; font-size: 35px;" class="text-uppercase">
                        {{listArtis.namaArtis}}
                    </p>
                </div>
                <br><br>
                <div class="subs text-muted">
                    <p style="cursor: pointer;">
                        Nama artis : {{listArtis.keterangan}}
                    </p>
                </div>
                <br><br>
                <div class="daftar-lagu">
                    <div class="header-text">
                        <h3>
                            daftar Album
                        </h3>
                    </div>
                        <div class="panel panel-default" *ngFor="let albums of listAlbums">
                            <div class="panel-body">{{albums.namaAlbums}}</div>
                            <p>
                              {{albums.keterangan}}
                            </p>
                            <br><br>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
