  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="index.html">Music Web App</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a routerLink="/artis">Artist</a></li>
              <li><a routerLink="/lagu">Song</a></li>
              <li><a routerLink="/albums">Albums</a></li>
              <li><a routerLink="/genre">Genre</a></li>
              <li><a routerLink="/lables-rekaman">labels</a></li>
              <li class="drop-down"><a href="">Insert</a>
                <ul>
                  <li
                  *ngFor="let link of links">
                  <a [routerLink]="link.link" style="cursor: pointer;">{{link.name}}</a></li>
                </ul>
              </li>
              <li><a routerLink="/records-lab">records lab</a></li>
            </ul>
          </nav><!-- .nav-menu -->

          <a href="#about" class="get-started-btn scrollto">Get Started</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  