<section style="width: 100%; background: white; height: 100%; border-radius: 20px;">
    <ngb-tabset>
        <ngb-tab title="Artis">
          <ng-template ngbTabContent style="padding-left: 20px; padding-right: 20px;">
              <br><br>
            <br>
           <div *ngFor="let albums of listAlbums">
              {{albums.namaAlbums}}
           </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Data">
          <ng-template ngbTabContent>
            <form class="form-inline" [formGroup]="searchArtis">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="nama" class="sr-only">cari provinsi</label>
                    <input type="text" class="form-control" id="nama" name="nama" placeholder="Search" formControlName="namaAlbums">
                </div>
                <button type="submit" class="btn btn-primary mb-2" (click)="search()">Search</button>
            </form> 
            <br><br>
            <h3>Daftar Artis</h3>
            <div class="row">
                <div class="col-md-12">
                    <table datatable [dtOptions]="dtOptions" class="cards table table-sm table-hover" style="width: 100%;">
                    </table>
                </div>
            </div>            
          </ng-template>
        </ngb-tab>
      </ngb-tabset>    
</section>
