<section style="width: 100%; background: white; height: 100%; border-radius: 20px;">
    <ngb-tabset>
        <ngb-tab title="Artis">
          <ng-template ngbTabContent style="padding-left: 20px; padding-right: 20px;">
              <br><br>
            <br>
            <div class="album py-5 bg-light">
              <div class="container">
                <div class="row">
                  <div class="col-md-4" *ngFor="let al of listAlbums" >
                    <div class="card mb-4 shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      <div class="card-body">
                        <b class="card-text">{{al.namaAlbums}}</b>
                        <br>
                        <p style="cursor: pointer;">Artist: {{al.namaArtis}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" routerLink="/{{al.namaAlbums}}/lagu/{{al.idAlbum}}" class="btn btn-sm btn-outline-secondary">list-lagu</button>
                            <button routerLink="/editalbum/{{al.idAlbum}}" class="btn btn-sm btn-outline-secondary">Edit</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Data">
          <ng-template ngbTabContent>
            <form class="form-inline" [formGroup]="searchArtis">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="nama" class="sr-only">cari provinsi</label>
                    <input type="text" class="form-control" id="nama" name="nama" placeholder="Search" formControlName="namaAlbums">
                </div>
                <button type="submit" class="btn btn-primary mb-2" (click)="search()">Search</button>
            </form> 
            <br><br>
            <h3>Daftar Artis</h3>
            <div class="row">
                <div class="col-md-12">
                    <table datatable [dtOptions]="dtOptions" class="cards table table-sm table-hover" style="width: 100%;">
                    </table>
                </div>
            </div>            
          </ng-template>
        </ngb-tab>
      </ngb-tabset>    
</section>
